<h1>$restaurant.getName()</h1>
  #if ($cuisine.getId())
  <label for="cuisineType">Cuisine: $cuisine.getType()</label>
  #else
  <p></p>
  #end
  <p>$restaurant.getInfo()</p>
<p><a href="/">Return to Home Page</a></p>
